# compiled python files
*.pyc
#matlab figures or data files or matlab temp files
*.mat
*.asv
*.fig
#json data
*.json
#profiling info
*.lprof

## Build files for pip
*.egg-info

# Any temporary directories (usually for data)
tmp/

# Python linter
.pylint.d
