# compiled python files
*.pyc
#matlab figures or matlab temp files
*.asv
*.fig
#json data
*.json
#profiling info
*.lprof

## Build files for pip
*.egg-info

# Any temporary directories (usually for data)
tmp/

# Python linter
.pylint.d

# dont include dependencies
lib/

# some c things
*.gch
*.out
*.exe
